/* FIX THIS LATER???? */
body {
    margin: 0;
    padding: 0;
    font-family: Palatino, "Timew New Roman", serif;
    background-color: rgb(41, 71, 41);
}

p {
    font-size: 17px;
}

* {
    box-sizing: border-box;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

#navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    color: white;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.navbar-links li {
    list-style: none;
    text-align: center;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: yellow;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35px;
    height: 21px;

    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar {
    display: block;
    width: 100%;
    height: 3px;
    margin: 2px;
    background-color: white;
    border-radius: 10px;
}

.navbar-links ul li a {
    padding: 1rem 1rem;
}

.navbar-links.active {
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

/* Image sizes */
img {
    width: 60px;
    height: 60px;
    /* border-radius: .5rem; */
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.long-img {
    width: 80px;
    height: 60px;
}

.lrg-img {
    display: flex;
    align-self: center;
    margin-bottom: 1rem;

    width: 50vw;
    height: auto;
    border-radius: 50%;
}

/* sections wrappers */
.about-me-wrapper, .skills-wrapper,
.projects-wrapper, .resume-wrapper, .contact-wrapper {
    padding: 2rem;
    background-color: blue;
}

/* About me section */
.about-me-wrapper {
    margin-top: 5rem;
    background-color: purple;
}

.intro-wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

#top>h1 {
    color: white;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0
}

#hobbies {
    display: flex;
    justify-content: center;
}

#hobbies>p {
    padding-left: 1rem;
    padding-right: 2rem;
}

/* skills section */
.skills-row {
    display: flex;
}

/* Projects section */
.projects-wrapper {
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#projects > h1 {
    padding-left: 2rem;
    padding-top: 2rem;
}

.project {
    margin: 0px;
    padding: 0px;
    background-color: pink;
    width: 100%;
    height: 400px;
}

/* Experience section */
/* Nothing here yet. */

/* Contact Me section */
.contact-wrapper {
    background-color: orange;
}


/* Media query for tablet */
@media screen and (min-width: 641px) {

    * {
        background-color: black;
    }

    .intro-wrapper {
        height: 600px;
    }

    .toggle-button {
        display: none;
    }

    .navbar-links ul {
        flex-direction: row;
    }
    
    #navbar {
        flex-direction: row;
        align-items: center;
    }

    .navbar-links {
        display: block;
        width: auto;
    }
    
    .lrg-img {
        width: 320px;
    }
}

/* media query for desktop */
@media screen and (min-width: 1008px) {
    * {
        background-color: rgb(83, 79, 79);
    }
}