body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y proximity;
}

section {
    background-color: rgb(243, 224, 205);
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fullpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 20px 20px 40px 20px;
}

.container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav {
    bottom: -1px;
    position: absolute;
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa', cursive;
    font-size: .75rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.centerholder {
    display: flex;
    justify-content: center;
}

ul {
    display: block;
}