body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y proximity;
}

section {
    background-color: rgb(243, 224, 205);
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fullpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 20px 20px 40px 20px;
}

.container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav {
    bottom: -1px;
    position: absolute;
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa', cursive;
    font-size: .75rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.centerholder {
    display: flex;
    justify-content: center;
}

ul {
    display: block;
}

section:nth-child(1) {
    background-image: linear-gradient(
        to bottom,
        rgb(190 196 238) 20%,
        /* Just move the 90% if you want the breakpoint for the graident line to go elsewhere. */
        rgb(241 166 139) 90%,
        rgb(217 147 131) 90%,
        rgb(178 139 148) 100%
      )
}

section:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgb(145 163 198) 20%,
        rgb(200 178 174) 90%,
        rgb(161 154 153) 90%,
        rgb(123 129 135) 100%
      )
}

section:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgb(167 214 250) 20%,
        rgb(170 198 204) 90%,
        rgb(127 174 187) 90%,
        rgb(95 143 151) 100%
      )
}

section:nth-child(4) {
    background-image: linear-gradient(
        to bottom,
        rgb(199 77 118) 20%,
        rgb(202 135 87) 90%,
        rgb(186 96 52) 90%,
        rgb(151 69 42) 100%
      )
}

section:nth-child(5) {
    background-image: linear-gradient(
        to bottom,
        rgb(13 28 86) 20%,
        rgb(33 54 97) 90%,
        rgb(20 26 79) 90%,
        rgb(11 14 61) 100%
      )
}
